/*csslint ids: false, box-model: false, universal-selector: false, box-sizing: false,  unique-headings: false, compatible-vendor-prefixes: fals;*/
/*UNIVERSAL SELECTOR*/

* {
         box-sizing: border-box;
}


/***********************************
GENERAL
***********************************/

body {
         font-family: 'Roboto', sans-serif;
         line-height: 1.5;
         margin: 0;
}

.main-header {
         /*background-image: url('../img/mountains.jpg');*/
         /*background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
         /*background-image: linear-gradient(#ffa949, firebrick)*/
         background: linear-gradient(black, transparent 30%), 
                     linear-gradient(0deg, black, transparent), 
                     #ffa949 url('../img/mountains.jpg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         height: 850px;
         padding-top: 170px;
}

.main-header,
.title {
         text-align: center;
}

.title {
         /*To change font-size from px to em. Do this simple equation
Whatever the desired pixel is / 16.
26px/16px = 
*/
         border-bottom: 1px solid lightgoldenrodyellow;;
         color: lightgoldenrodyellow;
         font-family: 'Tangerine', cursive;
         font-size: 45px;
         letter-spacing: .065em;
}

.primary-content {
         padding-bottom: 95px;
         text-align: center;
}

.secondary-content {
         border-bottom: 2px solid #dfe2e6;
         padding-bottom: 70px;
         padding-top: 80px;
}

.primary-content,
.secondary-content {
         margin: auto;
         max-width: 900px;
         padding-left: 50px;
         padding-right: 50px;
         width: 75%;
}

ul,
ol {
         margin-bottom: 30px;
}

li {
         margin-bottom: 10px;
}

.arrow-down {
    border-left: 80px solid transparent;
	border-right: 80px solid transparent;
    border-top: 40px solid  #ffa949;
    display: block;
    height: 0; 
    margin: auto;
	width: 20; 
}

.arrow {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: pulsate;
    -webkit-animation-timing-function: ease-in-out;
         margin-top: 100px;
         width: 50px;
}

@-webkit-keyframes pulsate {
    0% { width:60px;height: 50px; opacity: 0.20}
    10% { width:40px;height: 40px; opacity: .40}
    20% { width:40px;height: 40px; opacity: .60 }
    30% { width:40px;height: 40px; opacity: .80 }
    40% { width:40px;height: 40px; opacity: 1.0 } 
    50% { width:45px;height: 45px; opacity: 1.20}
    60% { width:45px;height: 45px; opacity: 1.0}
    70% { width:45px;height: 45px;  opacity: .80}
    80% { width:45px;height: 45px;  opacity: .60}
    90% { width:45px;height: 45px;  opacity: .40}
    100% { width:45px;height: 45px;  opacity: .20}
 }

img {
         border-radius: 10px;
         width: 100%;
}

.wildlife {
         background: linear-gradient(black, transparent 30%), 
                     linear-gradient(0deg, black, transparent), 
                     #ffa949 url('../img/bear.jpg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;

         border-bottom: 30px solid #ffa949;
         border-top: 20px solid #ffa949;
         /*Box Shadows: 1st value is horizontal. 2nd is vertical. 3rd is blur 4tth is spread-radius*/
         box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, .8);
         /*when 3 values. First is the top. Second one is left and right. Third one is bottom*/
         display:block;
         height: 700px;
         margin: auto;
         margin-top: -28px;
         padding: 8% 24%;
         width: 100%;        
}

.callout {
         border-bottom: 3px solid;
         display: inline-block;
         font-size: 1.25em;
         margin-top: 20px;
         padding: 0 9px 3px;
}

#main-footer {
         border-bottom: solid 10px orange;
         padding-bottom: 60px;
         padding-top: 60px;
}

#img1 {
         display: block;
         margin: auto;
         margin-top: -20px;
         padding-bottom: 10px;
         width: 200px;
}


/***********************************
HEADLINE ELEMENTS & P ELEMENTS
***********************************/

h1 {
         /*90px/16px*/
         color: lightgoldenrodyellow;
         font-family: 'Great Vibes', cursive;
         font-size:67px;
         font-weight: lighter;
         line-height: 1.3;
         line-height: 1.1;
         margin: 12px 0 0;
         padding-top: 60px;
         text-align: center;
         /*Text Shadows: 1st value is value is horizontal offset.
         2nd value is verticle offset. 3rd value is blur.
         4th value is of the color of the shadow */
         text-shadow: 0 4px 4px rgba(0, 0, 0, .8);
}

h2 {
         font-family: 'Poiret One', cursive;
         font-size: 45px;
         font-weight: normal;
         /*26px/53px*/
         margin-bottom: .5em;
}

h3 {
         color: #4852c;
         font-size: 20px;
         /*34px/20px*/
         margin-bottom: 1.7em;
         padding-top: 20px;
}

#menu-img {
height: 300px;
width: 200px;
}
/***********************************
FLOATED COLUMNS
***********************************/

.resorts,
.tips {
         width: 46.2%;
}

.resorts {
         float: left;
}

.tips {
         float: right;
}

.group:after {
         clear: both;
         content: "";
         display: table;
}


/***********************************
COLORS
***********************************/

body {
         color: #878787;
}


.main-header {
         background-color: #ffa949;
}

.wildlife {
         background-color: #434a52;
         color: white;
}

ul li {
         color: white;
}


/*CSS PSEUDO CLASS*/

a:link {
         color: #ffa949;
         text-decoration: none;
}

a:visited {
         color: lightblue;
}

a:hover {
         color: forestgreen;
}

a:active {
         color: coral;
}

a:focus {
         background-color: orange;
         color: white;
}


/***********************************
MEDIA QUERIES
***********************************/

@media (max-width: 1024px) {
         .primary-content,
         .secondary-content {
                  width: 90%;
         }
         .wildlife {
                  margin: 50px 0 20px;
                  padding: 10% 12%;
         }
}

@media (max-width: 768px) {
         .primary-content,
         .secondary-content {
                  border-top: none;
                  padding: 20px;
                  width: 100%;
         }
         .main-header {
                  max-height: 380px;
                  padding: 50px 25px 0;
         }
         .title {
                  border: none;
                  font-size: 1.3rem;
         }

         .arrow {
                  display: none;
         }
         .intro {
                  font-size: 1rem;
         }
         .resort,
         .tips {
                  float: none;
                  width: 100%;
         }
         .main-footer {
                  padding: 20px 0;
         }
}

@media (max-width: 375px) {
         h1 {
                  font-size: 3rem;
         }
}

/***********************************
NAVIGATION
***********************************/
/*csslint ids: false, box-model: false, universal-selector: false, box-sizing: false,  unique-headings: false*/
/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  background:  #ffa949;
  bottom: 0;
  height: 100%;
  left: 0;
  list-style: none;
  position: fixed;
  right: 0;
  top: 0;
  
  /* non-critical appearance styles */
  width: 100%; 
  z-index: 0;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid white;
  width: 200px;
}

.nav-item a {
  /* non-critical appearance styles */
  background: linear-gradient(135deg, rgba(500,0,0,0.1) 0%,rgba(200,200,200,0.65) 100%);
  color: white;
  display: block;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  padding-left: 20px;
  text-decoration: none;
  text-shadow: 0 3px 3px rgba(0, 0, 0, .300);
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0.65) 100%);
  color: #c74438;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  background-color: floralwhite; /* Needs a background or else the nav will show through */
  bottom: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  z-index: 1;
  
  /* non-critical apperance styles */
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  background-image: url("http://alexandstein.com/resources/images/icons/hamburger.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 30px;
  left: 35px; 
  position: fixed;
  top: 25px;
  
  /* non-critical apperance styles */
  width: 50px;
  z-index: 2;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
  left: 200px;
}

body {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */

h1, h3, p {
  margin: 0 auto 1em;
  max-width: 600px;
}

code {
    background: #ddd;
	padding: 2px;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { font-family: Helvetica, Arial, sans-serif; height: 100%; width: 100%;  }


/***********************************
NEWSLETTER
***********************************/

#mc_embed_signup {
         background: transparent;
         border: 1px solid lightgrey;
         clear: left;
         font: 14px Helvetica, Arial, sans-serif;
         width: 400px;
}

/***********************************
JUMBOTRON
***********************************/

#img2 {
border: 1px solid black;
border-radius: 360px;
float: right;
height: 120px;
margin-right: 100px;
margin-top: -50px;
width: 120px;
}

.jumbotron {
border-bottom: 2px solid lightgrey;
border-top: 2px solid lightgrey;
margin-bottom: 50px;
margin-top: 20px;
}

#contacth1 {
font-family: 'Poiret One', cursive;
margin-bottom: 5px; 
margin-left: 150px;
text-align: left;
text-shadow: none;
}

#pinjumbo {
color: black;
float: left;
font-family: 'Poiret One', cursive;
font-size: 30px;
font-weight: 900;
text-align: center;
text-shadow: 40px rgba(100, 200, 200, .79);
}

/***********************************
LOCATION CODE
***********************************/

#location-div {
border-radius: 10px; 
float: left; 
font-family: Arial;
margin-left: 35px; 
margin-top: 20px;
padding: 10px; 
padding-top: 0;
}

#normal-text {
font-family: 'Poiret One', cursive;
font-size: 30px;
}

#normal-text2 {
color: white;
font-family: Arial;
font-size: 15px;
}

#contact {
margin-top: -40px;
}
